<head>
  <style>
    div.bartrim {
      padding-right: 50%;
    }
  </style>
</head>

<body>
<div>
  <h1>Incremental Test</h1>
  <hr>
  <p>Currency: {{currency.toFixed(2)}}</p>
  <div class="panel panel-default">
    <div class="panel-body">
  <p>Currently owned Clickers: {{clickers}}</p>
    </div>
      <div class="panel-footer">
  <div class="row">
    <div class="col-sm-4">
      <button (click)="buyClicker()" class="btn btn-block" [disabled]="currency < nextClickerCost">
        Purchase Clicker for {{nextClickerCost}}
      </button>
    </div>
    <div class="col-sm-8">
      <ngb-progressbar type="info" [value]="progress" height="34px"></ngb-progressbar>
      <div class="progress-bar-title">{{progress.toFixed(2)}}%</div>
    </div>
  </div>
      </div>
  </div>
</div>
</body>
