.progress-bar-title {
  position: absolute;
  text-align: center;
  line-height: 34px; /* line-height should be equal to bar height */
  overflow: hidden;
  color: #000;
  right: 0;
  left: 0;
  top: 0;
}


.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease
}
