<form (ngSubmit)="onSubmit()" #heroForm="ngForm" *ngIf="!heroCreated">
  <div class="form-group">
    <label for="name">Hero Name</label>
    <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
  </div>
  <div class="form-group" *ngIf="raceOptions.length > 1">
    <label for="race">Hero Race</label>
    <select class="form-control" id="race"
            required
            [(ngModel)]="model.race" name="race" #power="ngModel">
      <option *ngFor="let race of raceOptions" [value]="race.id">{{race.name}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-success" >Create Hero</button>
</form>


<div>{{model.name}}: {{model.race.name}}</div>
<hr>
